<%- include('../partials/header') %>


<div>
    Team Info:
    <br>
<%= response.market %>
<%= response.name %>
<%= response.founded %>
<%= response.venue.name %>
<%= response.venue.capacity %>
<%= response.venue.city %>
<%= response.venue.state %>
<%= response.conference.name %>
<% if (response.coaches.length) { %>
    <% response.coaches.forEach(function(id) { %>
    <br>
    <%= id.full_name %>
    <%= id.experience %>
    <% })}; %>

<% if (response.players.length) { %>
    <% response.players.forEach(function(id) { %>
    <br>
    <a href="/playerinfo/<%= id.id %>">View Player Stats</a>
    <%= id.full_name %>
    <%= id.full_name %>
    <%= id.full_name %>
    <%= id.full_name %>
    <% })}; %>


<%= response.venue.state %>
<%= response.venue.state %>
<%= response.venue.state %>

</div>


<%- include('../partials/footer') %>