<%- include('../partials/header') %>


<div>
    Team Info:
    <br>
<%= response.market %>
<%= response.name %>
<%= response.own_record.total.games_played %>
<%= response.own_record.total.field_goals_made %>
<%= response.own_record.total.field_goals_att %>
<%= response.own_record.total.field_goals_pct %>
<%= response.own_record.total.two_points_made %>
<%= response.own_record.total.two_points_att %>
<%= response.own_record.total.two_points_pct %>
<%= response.own_record.total.three_points_made %>
<%= response.own_record.total.three_points_att %>
<%= response.own_record.total.three_points_pct %>
<%= response.own_record.total.blocked_att %>
<%= response.own_record.total.free_throws_made %>
<%= response.own_record.total.free_throws_att %>
<%= response.own_record.total.free_throws_pct %>
<%= response.own_record.total.offensive_rebounds %>
<%= response.own_record.total.defensive_rebounds %>
<%= response.own_record.total.assists %>
<%= response.own_record.total.turnovers %>
<%= response.own_record.total.assists_turnover_ratio %>
<%= response.own_record.total.steals %>
<%= response.own_record.total.blocks %>
<%= response.own_record.total.personal_fouls %>
<%= response.own_record.total.tech_fouls %>
<%= response.own_record.total.points %>
<%= response.own_record.total.fast_break_pts %>
<%= response.own_record.total.flagrant_fouls %>
<%= response.own_record.total.points_off_turnovers %>
<%= response.own_record.total.second_chance_pts %>
<%= response.own_record.total.ejections %>
<%= response.own_record.total.foulouts %>
<%= response.own_record.total.points_in_paint %>
<%= response.own_record.total.efficiency %>
<%= response.own_record.total.true_shooting_att %>
<%= response.own_record.total.true_shooting_pct %>

<%= response.own_record.average.fast_break_pts %>
<%= response.own_record.average.points_off_turnovers %>
<%= response.own_record.average.second_chance_pts %>
<%= response.own_record.average.points %>
<%= response.own_record.average.off_rebounds %>
<%= response.own_record.average.def_rebounds %>
<%= response.own_record.average.rebounds %>
<%= response.own_record.average.assists %>
<%= response.own_record.average.steals %>
<%= response.own_record.average.blocks %>
<%= response.own_record.average.turnovers %>
<%= response.own_record.average.personal_fouls %>
<%= response.own_record.average.flagrant_fouls %>
<%= response.own_record.average.blocked_att %>
<%= response.own_record.average.field_goals_made %>
<%= response.own_record.average.field_goals_att %>
<%= response.own_record.average.three_points_made %>
<%= response.own_record.average.three_points_att %>
<%= response.own_record.average.free_throws_made %>
<%= response.own_record.average.free_throws_att %>
<%= response.own_record.average.two_points_made %>
<%= response.own_record.average.two_points_att %>
<%= response.own_record.average.points_in_paint %>
<%= response.own_record.average.efficiency %>
<%= response.own_record.average.true_shooting_att %>

<%= response.opponents.total.field_goals_made %>
<%= response.opponents.total.field_goals_att %>
<%= response.opponents.total.field_goals_pct %>
<%= response.opponents.total.two_points_made %>
<%= response.opponents.total.two_points_att %>
<%= response.opponents.total.two_points_pct %>
<%= response.opponents.total.three_points_made %>
<%= response.opponents.total.three_points_att %>
<%= response.opponents.total.three_points_pct %>
<%= response.opponents.total.blocked_att %>
<%= response.opponents.total.free_throws_made %>
<%= response.opponents.total.free_throws_att %>
<%= response.opponents.total.free_throws_pct %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>
<%= response.opponents.total. %>







<% if (response.players.length) { %>
    <% response.players.forEach(function(id) { %>
    <br>
    <%= id.full_name %>
    <a href="/playerinfo/<%= id.id %>">Player Profile</a>
    
    <%= id.position %>
    <%= id.jersey_number %>
    
    <% })}; %>




</div>


<%- include('../partials/footer') %>