<%- include('../partials/header') %>



<div id="memberheader">
Member List:
</div>

<ul id="memberlist">
<% users.forEach(function(user) { %>
<br>
<%= user.name %>
<div id="spacer">
Alias: <%= user.alias %>
</div>
<a id="userprofilelink" href="/users/<%= user._id %>">User Page</a>

<br>
<% }); %>
</ul>



<%- include('../partials/footer') %>
