<%- include('../partials/header') %>

<div>
<h2>My Teams:</h2>
<% if (users.faveteams.length) { %>
    <% users.faveteams.forEach(function(x, idx) { %>
        <form action="/users/<%= user._id %>/faveteams/<%= idx %>" method="POST">
<br>
<br>
<button type="submit">X</button>
<%= x.faveteams %>


<a href="/teaminfo/<%= x.teamId %>">View Team</a>


<% })}; %>
</form>

</div>
<br><br>
<form action="/users/<%= user._id %>/faveteams" method="POST">

<select name="teamlist" id="teamlist" onChange="changeconf(this.value);">
<option value="" disabled selected>Select</option>
<option value="A">ACC</option>
<option value="B">Big Ten</option>
<option value="C">Big 12</option>
<option value="D">Pac 12</option>
<option value="E">SEC</option>
</select>


<select name="faveteams" id="faveteams" onChange="changeid(this.value);">
<option value="" disabled selected>Select</option>
</select>

<select name="teamId" id="teamId">
<option value="" disabled selected>Select</option>
</select>


<button class="btn btn-success" type="submit">Add Team</button>
</form>
<div>
<h2>My Players:</h2>
<% if (users.faveplayers.length) { %>
<% users.faveplayers.forEach(function(x, idx) { %>
    <form action="/users/<%= user._id %>/faveplayers/<%= idx %>" method="POST">
<br>
<button type="submit">X</button>
<%= x.faveplayers %>

<a href="/playerinfo/<%= x.playerId %>">View Player</a>

</form>
<% })}; %>

</div>





<%- include('../partials/footer') %>