<%- include('../partials/header') %>

<div>
<h2>My Teams:</h2>
<% if (users.faveteams.length) { %>
<% users.faveteams.forEach(function(x) { %>
<br>

<%= x.faveteams %>

<form action="/users/<%= user._id %>/faveteams/<%= x._id %>" method="POST">
              <button type="submit">X</button></form>

<a href="/teaminfo/<%= x.teamId %>">View Team</a>


<% })}; %>

</div>

<form action="/users/<%= user._id %>/faveteams" method="POST">

<select name="teamlist" id="teamlist" onChange="changeconf(this.value);">
<option value="" disabled selected>Select</option>
<option value="A">ACC</option>
<option value="B">Big Ten</option>
<option value="C">Big 12</option>
<option value="D">Pac 12</option>
<option value="E">SEC</option>
</select>


<select name="faveteams" id="faveteams" onChange="changeid(this.value);">
<option value="" disabled selected>Select</option>
</select>

<select name="teamId" id="teamId">
<option value="" disabled selected>Select</option>
</select>


<button class="btn btn-success" type="submit">Add Team</button>
</form>
<div>
<h2>My Players:</h2>
<% if (users.faveplayers.length) { %>
<% users.faveplayers.forEach(function(x) { %>
<br>

<%= x.faveplayers %>

<a href="/playerinfo/<%= x.playerId %>">View Player</a>

<% })}; %>

</div>





<%- include('../partials/footer') %>