<%- include('../partials/header') %>
<br><br><br>
<form action="/users/<%= user._id %>/update?_method=PUT" method="POST">
<div id="userinfopage">
User Name:
<%= user.name %>
<br>
Email Address:
<%= user.email %>
<br>
User Alias:
<input name="alias" id="updatealias" type=textbox value="<%= user.alias %>"><button type="submit">Update</button>
<br>



</div>
</form>



<%- include('../partials/footer') %>