<%- include('../partials/header') %>

<form id="playerform" action="/users/<%= user._id %>/faveplayers" method="POST">
<h2><%= response.full_name %></h2>
<h1></h1>
<h6>Height: <%= response.height %> inches</h6><br>
<h6>Weight: <%= response.weight %> pounds</h6><br>
<h6>Position: <%= response.position %></h6><br>
<h6>Jersey Number: <%= response.jersey_number %></h6>
<h6>Year: <%= response.experience %></h6>



<% response.seasons.forEach(function(id) { %>
    <h3><%= id.year %> Season Stats:</h3>
    <table>
        <thead>
            <tr>
            <th></th>
            <th>Team</th>
            <th>Games Played</th>
            <th>Games Started</th>
            <th>Minutes</th>
            <th>FG<br>Made</th>
            <th>FG<br>ATT</th>
            <th>FG<br>PCT</th>
            <th>2 PT<br>Made</th>
            <th>2 PT<br>ATT</th>
            <th>2 PT<br>PCT</th>
            <th>3 PT<br>Made</th>
            <th>3 PT<br>ATT</th>
            <th>3 PT<br>PCT</th>
            <th>Blocks<br>ATT</th>
            <th>FT<br>Made</th>
            <th>FT<br>ATT</th>
            <th>FT<br>PCT</th>
            </tr>
        </thead>
        <tbody>    
            <% id.teams.forEach(function(innerid) { %>
            <tr>
            <td>Season Total</td>
            <td><%= innerid.alias %></td>    
            <td><%= innerid.total.games_played %></td>
            <td><%= innerid.total.games_started %></td>
            <td><%= innerid.total.minutes %></td>
            <td><%= innerid.total.field_goals_made %></td>
            <td><%= innerid.total.field_goals_att %></td>
            <td><%= innerid.total.field_goals_pct %></td>
            <td><%= innerid.total.two_points_made %></td>
            <td><%= innerid.total.two_points_att %></td>
            <td><%= innerid.total.two_points_pct %></td>
            <td><%= innerid.total.three_points_made %></td>
            <td><%= innerid.total.three_points_att %></td>
            <td><%= innerid.total.three_points_pct %></td>
            <td><%= innerid.total.blocked_att %></td>
            <td><%= innerid.total.free_throws_made %></td>
            <td><%= innerid.total.free_throws_att %></td>
            <td><%= innerid.total.free_throws_pct %></td>
            </tr>
            <tr>
            <td>Season Average</td>
            <td><%= innerid.alias %></td>
            <td></td>
            <td></td>
            <td><%= innerid.average.minutes %></td>
            <td><%= innerid.average.field_goals_made %></td>
            <td><%= innerid.average.field_goals_att %></td>
            <td></td>
            <td><%= innerid.average.two_points_made %></td>
            <td><%= innerid.average.two_points_att %></td>
            <td></td>
            <td><%= innerid.average.three_points_made %></td>
            <td><%= innerid.average.three_points_att %></td>
            <td></td>
            <td><%= innerid.average.blocked_att %></td>
            <td><%= innerid.average.free_throws_made %></td>
            <td><%= innerid.average.free_throws_att %></td>
            <td></td>
            </tr>
            <% }); %>
        </tbody>    
        </thead>
    </table>
    <br>
    <table>
        <thead>
            <tr>
            <th></th>
            <th>PTS</th>
            <th>OFF<br>REB</th>
            <th>DEF<br>REB</th>
            <th>ASS</th>
            <th>TO</th>
            <th>ASS<br>to<br>TO</th>
            <th>ST</th>
            <th>BL</th>
            <th>Pers<br>Fouls</th>
            <th>Tech<br>Fouls</th>
            <th>Flag<br>Fouls</th>
            <th>Ejects</th>
            <th>Foul<br>Outs</th>
            <th>True<br>Shot<br>ATT</th>
            <th>True<br>Shot<br>PCT</th>
            <th>Eff</th>
            </tr>
        </thead>
        <tbody>
            <% id.teams.forEach(function(innerid) { %>
            <tr>
            <td>Season Total</td>
            <td><%= innerid.total.points %></td>
            <td><%= innerid.total.offensive_rebounds %></td>
            <td><%= innerid.total.defensive_rebounds %></td>
            <td><%= innerid.total.assists %></td>
            <td><%= innerid.total.turnovers %></td>
            <td><%= innerid.total.assists_turnover_ratio %></td>
            <td><%= innerid.total.steals %></td>
            <td><%= innerid.total.blocks %></td>
            <td><%= innerid.total.personal_fouls %></td>
            <td><%= innerid.total.tech_fouls %></td>
            <td><%= innerid.total.flagrant_fouls %></td>
            <td><%= innerid.total.ejections %></td>
            <td><%= innerid.total.foulouts %></td>
            <td><%= innerid.total.true_shooting_att %></td>
            <td><%= innerid.total.true_shooting_pct %></td>
            <td><%= innerid.total.efficiency %></td>
            </tr>
            <tr>
            <td>Season Average</td>
            <td><%= innerid.average.points %></td>
            <td><%= innerid.average.off_rebounds %></td>
            <td><%= innerid.average.def_rebounds %></td>
            <td><%= innerid.average.assists %></td>
            <td><%= innerid.average.turnovers %></td>
            <td></td>
            <td><%= innerid.average.steals %></td>
            <td><%= innerid.average.blocks %></td>
            <td><%= innerid.average.personal_fouls %></td>
            <td></td>
            <td><%= innerid.average.flagrant_fouls %></td>
            <td></td>
            <td></td>
            <td><%= innerid.average.true_shooting_att %></td>
            <td></td>
            <td><%= innerid.average.efficiency %></td>
            </tr>
            <% }); %>    
        </tbody>
    </table>    
<% }); %>



<br>
<select id="playerIdSubmit" name="playerId"><option value="<%= response.id %>"><%= response.id %></option></select>
<select id="faveplayersSubmit" name="faveplayers"><option value="<%= response.full_name %>"><%= response.full_name %></option></select>
<input type='submit' value='Add Player to Favorites'>
</form>

<%- include('../partials/footer') %>